@use './variables' as *;
@use './mixins' as mix;


.mainannonce{
padding: 0 20px;
min-height: 100%;
}

.sectionannonce{
display: flex;
justify-content: space-between;
align-items: center;
margin: 20px 0;
}

.locationannonce{
@include mix.column;
}



@media (min-width: 768px){
.mainannonce{
padding: 40px 60px;

.collapseannonce{
    display: flex;
    gap: 15px;
}
}
}