@use "mixins";
@use './variables' as *;

.banner {
position: relative;
width: 100%;
justify-content: center;
display: flex;
margin-top: 20px;

&__image {
object-fit: cover;
width: 100%;
height: 30vw;
max-height: 150px;
border-radius: 15px;
}

&__overlay{
  border-radius: 15px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}
&__txt{
font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: left;
  position: absolute;
  color: white;
  margin: 10%;

}
}

@media (min-width: 768px) {
 .banner__image{
max-height: 223px;
  }
  .banner__txt{
    font-size: 48px;
    margin: 0%;
    padding: 8%;
  }
}

@media (min-width: 1024px) {
.banner__txt{

}
}