@use './variables' as *;
@use './mixins' as mix;

.banner {
position: relative;
width: 100%;
@include mix.flexcenter;
margin-top: 20px;

&__image {
@include mix.stylesimages;
height: 30vw;
max-height: 150px;
border-radius: 15px;
}

&__overlay{
  border-radius: 15px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
 @include mix.flexcenter;
  align-items: center;
  text-align: center;
  background-color:$color_4;
}
&__txt{
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: left;
  position: absolute;
  color: $colortexte;
  margin: 10%;

}
}

@media (min-width: 768px) {
 .banner__image{
max-height: 223px;
  }
  .banner__txt{
    font-size: 48px;
    margin: 0%;
    padding: 8%;
  }
}

@media (min-width: 1024px) {
.banner__txt{
  padding: 80px;

}
}