@use "mixins";
@use './variables' as *;

section.FullCards {
	display: grid;
	grid-template-columns: 1fr;
	align-content: space-around;
    gap: 22px;
    margin: 20px;
}

	img.pictures{ 
    width: 100%;
	height: 255px; 
    border-radius: 10px;
}

.cardstexte{
  @include mixins.cardstexte;
}

.Cards{
    position: relative;


.colorCards{
    @include mixins.colorCards;
    position: relative;
}
}

@media (min-width: 768px)  {
    section.FullCards {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}


@media (min-width: 1024px) {
    section.FullCards {
        max-width: 1240px;
        gap: 20px;
        width: 90%;
        padding: 40px;
        background-color: #F6F6F6;
        border-radius: 25px;
        grid-template-columns: repeat(3, 1fr);
        margin: 50px auto
        
}



    .Cards {
    position: relative;
     padding: 0px;
}


}