@use "mixins";
@use './variables' as *;

section.FullCards {
	grid: inherit;
	display: grid;
	grid-template-columns: 1fr;
	align-content: space-around;
    gap: 22px;
}

	img.pictures{ width: 95%;
	height: 255px; 
    max-width: 340px;
    border-radius: 10px;
}
  

.colorCards{
    @include mixins.colorCards;
    background-color: $colorCards;
    position: relative;
}


.cardstexte{
  @include mixins.cardstexte;

}


