@use './variables' as *;


.logement{
width: 100%;
padding: 0 20px 40px;

}

.carousel{
    width: 100%;
    height:255px;
    margin: 20px 5px;
    position: relative;
   
&__img{
width:95%;
height: 100%;

}

&__title{
    font-size:18px;
}

&__btn{
    font-weight: 800;
    color: $color_2;
    font-size: 20px;
    width: 12px;
    height: 20px;
    top: 44%;
    position: absolute;
    left: 1%;
    background: none;
    border: none;

}


&__fleche{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 3px solid $colortexte;
  border-bottom: 3px solid $colortexte;
  rotate: 135deg;
}

&__btn2{
    font-weight: 800;
    color: $color_2;
    font-size: 20px;
    width: 12px;
    height: 20px;
    position: absolute;
    top: 45%;
    left: 91%;
    background: none;
    border: none;
}

&__fleche2{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 3px solid $colortexte;
  border-bottom: 3px solid $colortexte;
  rotate: 313deg;

}
&__span{
    display: none
}
}


@media(min-width: 768px) {
.carousel {
 height: 415px;   

&__img{
    width: 97%;
}
}
}

@media (min-width: 1024px) {
.carousel{
height: 415px;
}
}