@use "./mixins" as mix;
@use './variables' as *;

.FullCards {
	display: grid;
	grid-template-columns: 1fr;
	align-content: space-around;
    gap: 22px;
    margin: 20px;

&__Cards{
    position: relative;

}


	&__pictures{ 
    width: 100%;
	height: 255px; 
    border-radius: 10px;
}

&__texte{
  width: 76%;
position:absolute;
font-size: 18px;
bottom: 15px;
font-weight: 700;
line-height: 143%;
text-decoration: none;
color: $colortexte;
vertical-align: bottom;
margin: 8px;
}
}


.colorCards{
   border-radius: 10px;
    position: relative;
}


@media (min-width: 768px)  {
.FullCards {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}


@media (min-width: 1024px) {
    .FullCards {
        max-width: 1240px;
        gap: 20px;
        width: 90%;
        padding: 40px;
        background-color:$color_3;
        border-radius: 25px;
        grid-template-columns: repeat(3, 1fr);
        margin: 50px auto;


    &__Cards {
    position: relative;
     padding: 0px;
}

    }
}