@use './variables' as *;


.collapsemain {
    padding: 0 10px;
}

.collapsesection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 44px;
}

.collapse {
    width: 100%;
    cursor: pointer;
    margin: 13px 0px;
    
    &__btn{
        width: 100%;
        padding: 10px 15px;
        justify-content: space-between;
        align-items: center;  
        display: flex;
        border-radius: 5px; 
        color: $colortexte;
        background-color: $color_2;
    }
    
&__ul{
    padding: 4px;
}

&__texte{
      font-size: small;
      list-style: none;
}

.arrow {
    display: inline-block;
    margin-left: 10px;
    border-right: 3px solid  $colortexte;
    border-bottom: 3px solid  $colortexte;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    opacity: 0.7;
    &--up {
        transform: rotate(-135deg);
    }
    &--down {
        transform: rotate(45deg);
    }
}
}




@media (min-width: 768px)  {
.collapsesection {
}

.collapse{

&__btn{
    font-size: 18px;
}


&__texte {
    font-size: large;
    width: 88%;
}
}
}