
@use './variables' as *;

.footer {
  background-color: $color;
  p{
    color: $colortexte;
  }
}

div {
	.footer {
    width: 100%;
    padding: 13px;
		display: flex;
    flex-direction: column;
		justify-content: center;
		align-items: center;
	}
    ///.logofooter{
        ///

    }
