
@use './variables' as *;
@use './mixins' as mix;

	.container {
    width: 100%;
    padding-top: 13px;
	  @include mix.flexcenter;
    flex-direction: column;
		align-items: center;
    background-color: $color;
    height:208px;
	
  &__reserved{
    color: $colortexte;
  }

    }

@media (min-width: 768px) {
  .container{
    height: 100%;
  }
}
