
@use './variables' as *;

	.container {
    width: 100%;
    padding-top: 13px;
		display: flex;
    flex-direction: column;
		justify-content: center;
		align-items: center;
    background-color: $color;
    height:208px;
	
  &__reserved{
    color: $colortexte;
  }

    }

@media (min-width: 768px) {
  .container{
    height: 100%;
  }
}
