@use './variables' as *;

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 89vw;
    font-weight: 500;
    margin: 13px auto 0;
    max-width: 1240px;
    padding: 0 20px;
    align-items: center;


&__Kasa {
	width: 40vw;
	min-width: 50px;
	max-width: 145px;
	height: auto;
}

&__navlink { width: 55px;
	height: 17px;
	display: flex;
	text-decoration: none;
	
&:active, &:hover, &:visited{
		color: $color_1;
	}
  }


&__navbar {
	display: flex;
	align-items: center;
	gap: 16px;
}
	&__navlinks {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		gap: 20px;
	}
	
}


@media (min-width: 768px) {
	.header {
		width: 94vw;
	}

}