@use './variables' as *;

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 89vw;

	a { width: 55px;
	height: 17px;
	display: flex;
	text-decoration: none;
	
&:active, &:hover, &:visited{
		color: $color_1;
	}
  }
}

img.Kasa {
	width: 40vw;
	min-width: 50px;
	max-width: 145px;
	height: auto;
}
nav.nav-bar {
	display: flex;
	align-items: center;
	gap: 16px;
}
.nav-bar {
	.nav-links {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		gap: 20px;
	}
	
}