@use './variables' as *;


.host{

display: flex;
align-items: center;
gap: 10px;

&__img{
width: 32px;
height: 32px;
opacity: 1;
border-radius: 50%;
}
&__texte{
    font-size: 12px;
    color: $color_2;
    font-weight:500;
}
}

@media (min-width: 768px) {
    .host__img{
        width: 64px;
        height: 64px;
    }}