@mixin image-container {
 width: 100%;
}

@mixin banner{
width: 94vw;
height: 30vw;
max-width: 335px;
max-height: 150px;
border-radius: 15px;
}

@mixin h1{
font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 24px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
vertical-align: bottom;
position: absolute;
  top: 86px;
  left: 25px;
}


@mixin cardstexte{
 width: 294px;
height: 52px;
position:absolute;
font-size: 18px;
bottom: 15px;
font-family: Montserrat;
font-weight: 700;
line-height: 143%;
letter-spacing: 0%;
text-decoration: none;
color: #FFFFFF
}

@mixin colorCards{
border-radius: 10px;
}