@mixin image-container {
 width: 100%;
}

@mixin banner{
width: 94vw;
height: 30vw;
}

@mixin h1{
font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 24px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
vertical-align: bottom;
}


@mixin cardstexte{

font-size: 18px;
bottom: 15px;
font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 18px;
leading-trim: NONE;
line-height: 143%;
letter-spacing: 0%;
vertical-align: bottom;

}

@mixin colorCards{
border-radius: 10px;
}