@use './variables' as *;



@mixin stylesimages{
object-fit:cover;
width:100%;
}

@mixin flexcenter{
 display:flex;
justify-content:center;
}
@mixin none{
background: none;
border: none;
}
@mixin column{
display: flex;
flex-direction: column;
}

@mixin center{
justify-content: center;
align-items: center;
}