@use './variables' as *;



@mixin cardstexte{
width: 76%;
position:absolute;
font-size: 18px;
bottom: 15px;
font-weight: 700;
line-height: 143%;
letter-spacing: 0%;
text-decoration: none;
color: $colortexte;
vertical-align: bottom;
margin: 8px;
}

@mixin colorCards{
border-radius: 10px;
}


