@use './variables' as *;


.tags{

    display: flex;
    gap: 15px;

   &__tag{
    width: 115px;
    height: 25px;
    background-color:$color_2;
    border-radius: 10px;
    text-align: center;
    color:$colortexte;
    font-size: 15px;
}
}