@use './variables' as *;


.tags{

    display: flex;
    gap: 15px;

   .tag{
    width: 115px;
    height: 25px;
    background-color: #FF6060;
    border-radius: 10px;
    text-align: center;
    color: white;
}
}