
@use './variables' as *;


section.ErreurContainer {
   display: flex;
    gap: 51px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}


.Erreur { 
    height: 100vh;
    width: 100%;
  
&titre {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 96px;
    line-height: 140%;
    text-align: center;
    color: $color_2;
    position: inherit;
    width: 100%;
    margin-top: 167px;

}
&spacer, &msg {
    font-weight: 500;
    line-height: 143%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
    font-family: Montserrat;
    justify-content: center;
    display: flex;
    font-size: 18px;
    color:$color_2
}
&spacer {
    font-weight: 500;
    line-height: 140%;
    color: #000000;
    margin-top: 16px;
    height: 58vh;
}
&title{
    width: 100%;
    height: 100%;
}
a.Erreurlink, &:active, &:hover, &:visited{
    color: $color_1;
    text-decoration: none;
    font-weight: 500;
    line-height: 143%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
    font-family: Montserrat;
    justify-content: center;
    display: flex;
    font-size: 18px;
    color: $color;
}
  }

  @media (min-width: 768px) {
    .Erreur {
      &titre {
        font-size:288px;
        height: 58%;
        justify-content: center;
        align-items: center;
      }
      &msg{
        font-size:36px;
      }
      &title
        { 
            height: 56%;
        }
    }
  }