
@use './variables' as *;
@use './mixins' as mix;


.Erreur { 
    height: 100vh;
    width: 100%;

&__Container {
   @include mix.flexcenter;
    gap: 51px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}



  
&__titre {
    font-weight: 700;
    font-size: 96px;
    line-height: 140%;
    text-align: center;
    color: $color_2;
    position: inherit;
    width: 100%;
    margin-top: 167px;

}
&__spacer, &__msg {
    font-weight: 500;
    line-height: 143%;
    text-align: center;
    vertical-align: bottom;
    @include mix.flexcenter;
    font-size: 18px;
    color:$color_2
}
&__spacer {
    font-weight: 500;
    line-height: 140%;
    color: $color;
    margin-top: 16px;
    height: 58vh;
}
&__title{
    width: 100%;
    height: 100%;
}
&__link, &:active, &:hover, &:visited{
    color: $color_1;
    text-decoration: none;
    font-weight: 500;
    line-height: 143%;
    text-align: center;
    vertical-align: bottom;
    @include mix.flexcenter;
    font-size: 18px;
    color: $color;
}
  }

  @media (min-width: 768px) {
    .Erreur {
      &titre {
        font-size:288px;
        height: 58%;
        @include mix.center;
      }
      &__msg{
        font-size:36px;
      }
      &__title
        { 
            height: 56%;
        }
    }
  }