
@use './variables' as *;

.etoiles{
    width: 100%;
    color: $color_2;


    &__span{
    font-size: medium;
             }
       }


    @media (min-width: 768px) {

        .etoiles{
            opacity: 1;


            &__span{
                font-size: x-large;
            }
        }
    }
