@forward './variables' ;
@forward './mixins';


@forward  './App';

@forward './Header' ;
@forward  './banner';
@forward  './Cards';
@forward './Footer' ;
@forward  './Erreurs' ; 
@forward  './Collapse' ;
@forward  './etoiles' ;
@forward './Carousel';
@forward './Annonces';
@forward './Host';
@forward './tags';
@forward './_Location';

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



html,body {
 margin: 0;
 padding: 0;
 height: 100%;
 
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex: 1;
  padding: 0 10px;
}

button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
 
}


